<ion-content>
  <div class="iT_main">
    <div class="iT_header">
      <div class="iT_header_txt">
        <h1 no-margin>iTubeder</h1>
      </div>
      <!-- search bar for -->
      <div class="iT_seachbar" [ngClass]="{'iT_showSearch': showSearch == false}">
        <form (ngSubmit)="getVideos(searchData)">
          <input type="search" name="search" autocomplete="off" placeholder="Search" (ngModelChange)="getSearchSuggestions(searchData)"
            [(ngModel)]="searchData" />
          <ion-icon name="close-circle" md="md-close-circle" *ngIf="searchData" (click)="searchData= ''" tappable></ion-icon>
        </form>
      </div>
    </div>
    <div class="iT_body">
      <div class="iT_search_suggestions_container" *ngIf="searchData" (click)="searchData = ''">
        <div class="iT_search_suggestions_main">
          <ion-list no-margin>
            <button ion-item *ngFor="let list of search.suggestions" (click)="getVideos(list)" tappable>
              {{list}}
            </button>
          </ion-list>
        </div>
      </div>
      <div #scroll style="flex: 1; overflow-y: scroll" (scroll)="scrolling()">
        <ion-grid>
          <!-- loading -->
          <ion-row *ngIf="!loaded">
            <ion-col text-center>
              <h1 class="iT_pm_font">
                Please wait while we are getting videos for you!
              </h1>
              <ion-spinner name="ios"></ion-spinner>
            </ion-col>
          </ion-row>
          <!-- main content -->
          <ion-row *ngIf="loaded">
            <ion-col *ngFor="let item of search.trands" col-12>
              <ion-card (click)="preview(item)" tappable>
                <img src="{{item.snippet.thumbnails.high.url}}" />
                <ion-card-content no-padding>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="{{item.snippet.thumbnails.default.url}}" />
                    </ion-avatar>
                    <h3 style="white-space: normal;">{{item.snippet.title}}</h3>
                    <p>{{item.snippet.channelTitle}} - {{item.statistics.viewCount | number}} Views</p>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
