page-home {
  .iT_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    .iT_header {
      flex: 0.05;
      box-shadow: 1px 1px 15px -3px black;
      z-index: 9;
      .iT_header_txt {
        color: #fff;
        font-weight: 300;
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-content: center;
        height: 10vw;
        background: linear-gradient(75deg, color($colors, primary), color($colors, secondary)); // padding-top: 35px;
      }
      .iT_seachbar {
        position: absolute;
        width: 100%;
        padding: 2vw;
        visibility: visible;
        z-index: -1;
        background: linear-gradient(75deg, color($colors, primary), color($colors, secondary)); // padding-top: 35px;
        transition: all 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
        form {
          input {
            background: white;
            border: transparent;
            padding: 8px 36px 8px 36px;
            font-size: 18px;
            width: 100%;
            border-radius: 5px;
            &::placeholder {
              color: #9e9e9e;
            }
          }
          ion-icon {
            position: absolute;
            color: rgba(0, 0, 0, 0.5);
            font-size: 24px;
            top: 16px;
            right: 20px;
          }
        }
        &::before {
          content: "\f4a5";
          position: absolute;
          color: #9e9e9e;
          font-weight: bold;
          font-size: 24px;
          top: 16px;
          left: 20px;
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          z-index: 1;
          -webkit-font-smoothing: antialiased;
        }
      }
      .iT_showSearch {
        transform: translateY(-13vw);
      }
    }
    .iT_body {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 0.95;
      .iT_search_suggestions_container {
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 9;
        .iT_search_suggestions_main {
          overflow: scroll;
          transition: max-height 0.5s ease-in-out;
          height: auto;
          max-height: 50vh;
          background: #fff;
        }
      }
    }
  }
}

@keyframes scroll-hide {
  0% {
    transform: translateY(0)
  }
  100% {}
}
