page-home {
  .iT_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    .iT_header {
      flex: 0.05;
      background: linear-gradient(75deg, color($colors, primary), color($colors, secondary)); // padding-top: 35px;
      .iT_header_txt {
        color: #fff;
        font-weight: 300;
        font-size: 6vw;
        padding: 2vw;
        display: flex;
        justify-content: center;
        align-content: center;
      }
      .iT_seachbar_bg {
        background: transparent;
      }
    }
    .iT_body {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 0.95;
      .iT_search_suggestions_container {
        background: rgba(0, 0, 0, 0.75);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 9;
        .iT_search_suggestions_main {
          overflow: scroll;
          transition: max-height 0.5s ease-in-out;
          height: auto;
          max-height: 50vh;
          background: #fff;
        }
      }
    }
  }
}
