$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";

$colors: (primary: #642B73, secondary: #c6426e, dark: #000, light: #fff);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
