ion-header {
    ion-navbar {
      .toolbar-background {
        background: linear-gradient(45deg, color($colors, primary), color($colors, secondary));
        border: none !important;
      }
  
      .toolbar-content {
        ion-title {
          .toolbar-title {
            color: #fff;
            font-weight: 300;
          }
        }
      }
  
      .back-button {
        color: #fff;
        font-weight: 300;
      }
    }
  }
  
  .iT_pm_font {
    font-weight: 300;
    color: color($colors, primary);
  }
  
  .iT_btn {
    background: linear-gradient(45deg, color($colors, primary), color($colors, secondary));
    color: #fff;
  }
  